@import "../styles/variables";
.slider-section {
  height: 91vh;
  position: relative;
  width: 100%;
  overflow: hidden;

  &-btn {
    z-index: 1;
    position: absolute;
    top: 50%;
    background: transparent;
    color: $primary-font-color;
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $secondary-font-color;
    }
    &__left {
      left: 32px;
    }
    &__right {
      right: 32px;
    }
    &__down {
      top: 85%;
      left: 48%;
      &__icon {
        animation: scrollBottom 0.5s alternate ease infinite;
        font-size: 4rem;
      }
    }
  }
  &-slide-active {
    height: 100%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  &-slide {
    opacity: 0;
    transition-duration: 1s ease;
    &-main {
      height: 100%;
      position: relative;
      // Problems with api, changing auto size
      background-size: cover !important;
      &-content {
        position: absolute;
        height: 200px;
        bottom: 8%;
        left: 10%;
        color: $primary-font-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
          &__image {
            object-fit: contain;
            height: 170px;
            width: 160px;
          }
          &__heading {
            text-decoration: none;
            color: #f1f1f1;
            font-size: 1.7rem;
          }
          &__desc,
          &__info {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@keyframes scrollBottom {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(2px);
  }
}

@media (max-width: 768px) {
  .slider-section {
    height: 50vh;
    &-btn {
      font-size: 1.5rem;
      &__left {
        left: 10px;
      }
      &__right {
        right: 10px;
      }
      &__down {
        display: none;
      }
    }
    &-slide {
      &-main {
        &-content {
          left: 5%;
          height: 150px;
          width: 350px;
          left: 5%;
          bottom: 5%;
          &-item {
            &__image {
              height: 130px;
              width: 150px;
            }
            &__heading {
              text-decoration: none;
              color: #f1f1f1;
              font-size: 1.2rem;
            }
            &__desc,
            &__info {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .slider-section {
    &-btn {
      font-size: 1rem;
      &__left {
        left: 7px;
      }
      &__right {
        right: 7px;
      }
      &__down {
        display: none;
      }
    }
    &-slide {
      &-main {
        &-content {
          height: 120px;
          width: 300px;
          left: 5%;
          bottom: 5%;
          &-item {
            &__image {
              height: 80px;
              width: 100px;
            }
            &__heading {
              text-decoration: none;
              color: #f1f1f1;
              font-size: 1.2rem;
            }
            &__desc,
            &__info {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
