.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  background: #242526;
  padding: 20px 40px;
}
.logo {
  height: 60px;
}

.logo img {
  height: 60px;
  width: 70px;
}

.nav-links {
  display: flex;
  list-style-type: none;
}
.nav-links .link {
  margin-left: 30px;
  letter-spacing: 3px;
  color: #d6d8d8;
  text-decoration: none;
}
.nav-links .link:hover {
  color: #a084e9;
}

.burger {
  display: none;
}
.burger:hover {
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background: #d6d8d8;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 91vh;
    top: 9vh;
    background: #242526;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    /* // & li {
    //   opacity: 0;
    // } */
  }
  .nav-links li {
    margin-top: 30px;
  }
  .burger {
    display: block;
  }
}

.active {
  transform: translateX(0%);
}
