.trailers-section {
  width: 80%;
  margin: auto;
  &-heading {
    margin: 30px 0;
  }
  &-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__video {
      margin: 0px 15px 25px 15px;
      width: 250px;
      height: 180px;
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .trailers-section {
    width: 90%;
    &-heading {
      margin: 30px 0;
    }
    &-videos {
      &__video {
        margin: 0px 7px 25px 7px;
        width: 210px;
        height: 160px;
      }
    }
  }
}

@media (max-width: 500px) {
  .trailers-section {
    width: 90%;
    &-heading {
      margin: 30px 0;
    }
    &-videos {
      &__video {
        margin: 0px 10px 25px 10px;
        width: 350px;
        height: 180px;
      }
    }
  }
}
