@import "../styles/variables";
.footer {
  background: $secondary-color;
  color: $primary-font-color;
  padding: 30px;
  margin-top: 50px;
  &-main-section {
    display: flex;
    justify-content: space-around;
    & h4 {
      letter-spacing: 3px;
    }
    &__link {
      text-decoration: none;
      display: block;
      color: inherit;
      margin-top: 10px;
      transition: color 450ms;
      &:hover {
        color: $secondary-font-color;
      }
      &__name {
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer {
    padding: 30px;
    margin-top: 50px;
    &-main-section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      & div {
        margin: 20px;
      }
    }
  }
}
